<div class="card text-start bg-dark h-100 rounded-0">
  <div class="card-body">
    <h4 class="card-title text-light">Comentarios</h4>
    <div class="comentario d-flex flex-column">
      <strong class="text-light">
        <span class="text-primary me-2">02:01:06</span>
        <span>Andrea Casiani</span>
      </strong>
      <p class="text-light">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem facilis
        harum, aliquid, blanditiis...
      </p>
    </div>
  </div>
</div>
