$primary: #f1d103;
$secondary: #ff4c00;
$success: #2dce89;
$info: #11cdef;
$warning: #ffc107;
$danger: #f5365c;
$light: #f8f9fa;
$dark: #252525;

$button-radius: 50px !default;
$button-shadow: 14px 13px 27px 0px #00000040 !important;
$default-radius: 20px;

:root {
  --default-radius: 20px;
  --button-shadow: 14px 13px 27px 0px #00000040 !important;
  --button-radius: 10px;
  --dark-gray: #3d3d3d;
  
}
