.container-fluid {
  max-height: 100vh;
  .sidebar {
    width: 300px;
    height: calc(100vh - 2rem);
    .options {
      .option {
        display: grid;
        grid-template-columns: 24px auto;
        align-items: center;
        gap: 1rem;
        color: #67748e;
        font-size: 14px;
        text-align: left;
        font-weight: 400 !important;

        height: 60px;
        border-radius: 5px !important;
        &:hover,
        &:active {
          background: transparent;
        }
        &.active,
        &:focus {
          background: #f6f9fc;
          font-weight: 600 !important;
        }
      }
    }
  }
}
