<article class="spinner d-flex flex-column align-items-center p-3 gap-1">
  <div class="d-flex align-items-center justify-content-between gap-3 w-100">
    <div class="d-flex align-items-center text-primary gap-1">
      <mat-icon>{{ data.options.icon || "check_circle" }}</mat-icon>
      <strong class="fw-bolder mb-0">
        {{ data.options.title }}
      </strong>
    </div>
    <button class="btn btn-close btn-dark" (click)="onOk()"></button>
  </div>
  <small class="body pt-1 m-0">
    {{ data.options.message }}
  </small>
</article>
