<section class="section-progress">
  <mat-slider
    class="video-slider"
    [ngClass]="{ noIniciado: currentTime ? false : true }"
    [(ngModel)]="currentTimePercent"
  ></mat-slider>
</section>
<div class="d-flex align-items-center justify-content-center text-center mb-2">
  <span class="text-white" style="width: 120px">
    {{ currentTime | secondsToHour }}
  </span>
  <span class="text-muted">/</span>
  <span class="text-muted" style="width: 120px">
    {{ (video ? video.duration : 0) | secondsToHour }}</span
  >
</div>
<div class="video-controls border-top border-dark">
  <div class="d-flex align-items-center">
    <button
      mat-icon-button
      class="text-light"
      matTooltip="Control de volumen"
      matTooltipPosition="right"
      matTooltipHideDelay="300"
      matTooltipShowDelay="1000"
      matTooltipClass="background-tooltip"
      (click)="video ? (video.muted = !video.muted) : ''"
    >
      <mat-icon>{{
        video && video.muted ? "volume_mute" : "volume_up"
      }}</mat-icon>
    </button>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <button
      mat-icon-button
      class="text-light"
      matTooltip="Reproduce el video"
      matTooltipPosition="right"
      matTooltipHideDelay="300"
      matTooltipShowDelay="1000"
      matTooltipClass="background-tooltip"
    >
      <mat-icon>skip_previous</mat-icon>
    </button>

    <button
      mat-icon-button
      class="text-light"
      matTooltip="Reproduce el video"
      matTooltipPosition="right"
      matTooltipHideDelay="300"
      matTooltipShowDelay="1000"
      matTooltipClass="background-tooltip"
    >
      <mat-icon>fast_rewind</mat-icon>
    </button>

    <button
      mat-icon-button
      class="text-light"
      matTooltip="Reproduce el video"
      matTooltipPosition="right"
      matTooltipHideDelay="300"
      matTooltipShowDelay="1000"
      matTooltipClass="background-tooltip"
      (click)="video && video.paused ? video.play() : video.pause()"
    >
      <mat-icon>{{
        video && video.paused ? "play_circle" : "pause_circle"
      }}</mat-icon>
    </button>

    <button
      mat-icon-button
      class="text-light"
      matTooltip="Reproduce el video"
      matTooltipPosition="right"
      matTooltipHideDelay="300"
      matTooltipShowDelay="1000"
      matTooltipClass="background-tooltip"
    >
      <mat-icon>fast_forward</mat-icon>
    </button>

    <button
      mat-icon-button
      class="text-light"
      matTooltip="Reproduce el video"
      matTooltipPosition="right"
      matTooltipHideDelay="300"
      matTooltipShowDelay="1000"
      matTooltipClass="background-tooltip"
    >
      <mat-icon>skip_next</mat-icon>
    </button>
  </div>
  <div class="d-flex align-items-center justify-content-end">
    <button
      mat-icon-button
      class="text-light"
      matTooltip="Realizar un dibujo"
      matTooltipPosition="right"
      matTooltipHideDelay="300"
      matTooltipShowDelay="1000"
      matTooltipClass="background-tooltip"
      (click)="clickDraw.emit(true)"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      class="text-light"
      matTooltip="Hacer un comentario"
      matTooltipPosition="right"
      matTooltipHideDelay="300"
      matTooltipShowDelay="1000"
      matTooltipClass="background-tooltip"
      (click)="clickComment.emit(true)"
    >
      <mat-icon>comment</mat-icon>
    </button>
  </div>
</div>
