<div class="container-fluid">
  <div class="row h-100">
    <div class="col-9">
      <video
        #videoRef
        src="assets/camilo-por-primera-vez.mp4"
        width="100%"
        [controls]="false"
        title="Video"
      ></video>

      <div class="video-controls" *ngIf="isLoadedVideo()">
        <app-video-controls [video]="video"></app-video-controls>
        <div>
          <span>
            {{ video.currentTime ? video.currentTime : "00:00:00:00" }}
          </span>
          <span class="text-muted">
            {{ video.duration ? video.duration : "00:00:00:00" }}</span
          >
        </div>
        <button
          mat-icon-button
          matTooltip="Reproduce el video"
          matTooltipPosition="right"
          matTooltipHideDelay="500"
          matTooltipClass="background-tooltip"
          class="text-light"
          (click)="takeVideoFrame()"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-3">
      <app-comments-viewer></app-comments-viewer>
    </div>
  </div>

  <div class="contenedor-flotante">
    <div class="image-container" style="z-index: 2">
      <button
        mat-icon-button
        class="bg-white m-4"
        (click)="setVisibleFrame(false)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div
      class="draw-container"
      style="
        z-index: 3;
        pointer-events: none;
        width: 90%;
        max-height: 90vh !important;
      "
    >
      <img
        alt="taken-image"
        class="img-fluid taken-image"
        width="100%"
        #image
      />

      <!-- <section class="drawer centered" style="z-index: 4; pointer-events: all">
        <app-canvas-draw
          [width]="image.width"
          [height]="image.height"
          [resetOnChange]="resetOnChange"
        ></app-canvas-draw>
      </section> -->
    </div>
  </div>
</div>
