.container-fluid {
  background-color: var(--bs-dark);
  height: 100%;
  .video-controls {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .image-container {
    background-color: black;
    width: 100%;
    height: 100%;

    // position: absolute;
    // z-index: 2;
    align-items: start;
    justify-content: end;
  }
}
