<div>
  <div class="row height">
    <div class="col col-lg-6 align-self-center" style="margin-bottom: 50px">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1 class="title-login">Gestor de Proyectos Bombillo Amarillo</h1>
      <h4 class="title-description">
        ¡Inicia sesión y accede a tu gestor de proyectos!
      </h4>
      <div class="lg-6 email-spacer">
        <label for="emailFormControlInput" class="form-label label-bold"
          >Tu correo electrónico</label
        >
        <input
          type="email"
          class="form-control input"
          id="emailFormControlInput"
          placeholder="Ingresa tu correo electrónico"
          formControlName="usuario"
          [ngClass]="{'is-invalid':submitted && loginForm['usuario'].controls.errors}"
        />
      </div>
      <div class="lg-6 password-spacer">
        <label for="passwordFormControlInput" class="form-label label-bold"
          >Contraseña</label
        >
        <input
          type="password"
          class="form-control input"
          id="passwordFormControlInput"
          placeholder="Ingresa tu contraseña"
        />
      </div>
      <div class="bottom-position">
        <button type="button" class="btn btn-secondary bottom-size">
          Ingresar
        </button>
      </div>
      <div>
        <div class="square"></div>
        <h6 class="text-forget-password"><a>¿Olvidaste tu contraseña?</a></h6>
        <div></div>
      </div>
    </form>
    </div>
    <div class="col col-lg-6 background-bombillo d-flex justify-content-end">
        <div><img class="bombillo-logo" src="../../../../../assets/images/LOGOBOMBILLO1-02.png" alt="Logo Bombillo Amarillo"></div>
    </div>
  </div>
</div>
