/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/variables";
@import "./assets/scss/bootstrap";
@import "./assets/scss/scrollbar";
@import "./assets/scss/material";
@import "./assets/scss/loading-spinner";
@import "./assets/scss/own-classes";

* {
  font-size: 14px;
  font-family: "Roboto", "Arial", "Sans Serif";
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  overflow: hidden;
  position: relative;
  min-height: 100vh;

  a {
    text-decoration: none;
  }
}
