/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/variables";
@import "./assets/scss/bootstrap";
@import "./assets/scss/scrollbar";
@import "./assets/scss/material";
@import "./assets/scss/loading-spinner";
@import "./assets/scss/own-classes";

* {
  font-size: 16px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100vw;
  overflow-x: hidden;

  a {
    text-decoration: none;
  }
}
